In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("adult.data.csv")

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [14]:
race_count = df["race"].value_counts()

race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [24]:
average_age_men = df[df["sex"] == "Male"]["age"].mean()

average_age_men

39.43354749885268

In [32]:
percentage_bachelors = df[df["education"] == "Bachelors"]["education"].count() / df["education"].count() * 100

percentage_bachelors

16.44605509658794

In [34]:
education = df["education"].unique()

education

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [42]:
higher_education = df[df["education"].isin(["Bachelors", "Masters", "Doctorate"])]["education"].count()

higher_education

7491

In [43]:
lower_education = df[~df["education"].isin(["Bachelors", "Masters", "Doctorate"])]["education"].count()

lower_education

25070