In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("adult.data.csv")

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [14]:
race_count = df["race"].value_counts()

race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [24]:
average_age_men = df[df["sex"] == "Male"]["age"].mean()

average_age_men

39.43354749885268

In [32]:
percentage_bachelors = df[df["education"] == "Bachelors"]["education"].count() / df["education"].count() * 100

percentage_bachelors

16.44605509658794

In [34]:
education = df["education"].unique()

education

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [42]:
higher_education = df[df["education"].isin(["Bachelors", "Masters", "Doctorate"])]["education"].count()

higher_education

7491

In [43]:
lower_education = df[~df["education"].isin(["Bachelors", "Masters", "Doctorate"])]["education"].count()

lower_education

25070

In [73]:
lower_rich = df[~df["education"].isin(["Bachelors", "Masters", "Doctorate"])]

lower_education_rich = lower_rich[lower_rich["salary"] == ">50K"]["salary"].count() / lower_rich["salary"].count() * 100

lower_education_rich

17.3713601914639

In [72]:
higher_rich = df[df["education"].isin(["Bachelors", "Masters", "Doctorate"])]

higher_education_rich = higher_rich[higher_rich["salary"] == ">50K"]["salary"].count() / higher_rich["salary"].count() * 100

higher_education_rich

46.535843011613935

In [87]:
min_work_hours = df["hours-per-week"].min()

min_work_hours

1

In [85]:
num_min_workers = df[df["hours-per-week"].isin([1])]["hours-per-week"].count()

num_min_workers

20

In [95]:
rich_per = df[df["hours-per-week"] == 1]

rich_percentage = rich_per[rich_per["salary"] == ">50K"]["salary"].count() / rich_per["salary"].count() * 100

rich_percentage

10.0

In [106]:
country = df[df["salary"] == ">50K"]

highest_earning_country = country["native-country"].value_counts() / df["native-country"].value_counts() * 100

highest_earning_country.idxmax()

'Iran'

In [115]:
highest_earning_country_percentage = round(highest_earning_country.max(), 1)

highest_earning_country_percentage

41.9

In [114]:
indian_richs = df[df["native-country"] == "India"]

indian_richs = indian_richs[indian_richs["salary"] == ">50K"]

top_IN_occupation = indian_richs['occupation'].value_counts().idxmax()

top_IN_occupation

'Prof-specialty'