# Introducing Pandas Objects

Three fundamental Pandas data structures: the `Series`, `DataFrame`, and `Index`.

In [1]:
import numpy as np
import pandas as pd

## Series

`Series` is a one-dimensional array of indexed data. It can be created from a list or array.

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])

data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [3]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
data[1]

0.5

In [10]:
# The essential difference from NumPy is the presence of the index.

data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])

data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [11]:
data['c']

0.75

In [15]:
pd.Series(5, index=["label1","label2","label3"])

label1    5
label2    5
label3    5
dtype: int64

## DataFrame

If a `Series` is an analog of a one-dimensional array with flexible indices, a `DataFrame` is an analog of a two-dimensional array with both flexible row indices and flexible column names. Just as you might think of a two-dimensional array as an ordered sequence of aligned one-dimensional columns, you can think of a `DataFrame` as a sequence of aligned `Series` objects. Here, by "aligned" we mean that they share the same index.

In [17]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

population = pd.Series(population_dict)

area_dict = {'California': 423967, 
             'Texas': 695662, 
             'New York': 141297,
             'Florida': 170312, 
             'Illinois': 149995}

area = pd.Series(area_dict)

states = pd.DataFrame({'population': population,
                       'area': area})

states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [18]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [19]:
states.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, California to Illinois
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   population  5 non-null      int64
 1   area        5 non-null      int64
dtypes: int64(2)
memory usage: 120.0+ bytes

In [20]:
states.describe()

         population           area
count  5.000000e+00       5.000000
mean   2.337337e+07  316246.600000
std    9.640386e+06  242437.411951
min    1.288214e+07  141297.000000
25%    1.955286e+07  149995.000000
50%    1.965113e+07  170312.000000
75%    2.644819e+07  423967.000000
max    3.833252e+07  695662.000000

In [23]:
pd.DataFrame(np.random.rand(3,2),
             columns=['foo','bar'],
             index=['a','b','c'])

        foo       bar
a  0.967683  0.329982
b  0.354987  0.150553
c  0.395894  0.151856